<%= form_tag search_path, :method => 'get', :class =>"custom" do %>
  <div class="row collapse">
    <div class="small-8 columns">
      <%= text_field_tag :adv_search, params[:adv_search] %>
    </div>
    <div class="small-2 columns ">
      <%= select_tag :search_for, options_for_select(["WTS", "WTB"])%>   
    </div>
    <div class="small-2 columns">
      <%= submit_tag "Search", :name => nil, :class => "button postfix" %>
    </div>
  </div>
<% end %>
<% if !@search.nil? %>
  <p>Results for: <strong style="color: red;"><%= params[:search]%></strong></p>
  <table>
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th width="300">Item</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @search.each do |result|%>
        <tr>
          <th rowspan="2">
            <%if result.class.to_s == "Wtb"%>
              <% if !result.wtb_images.blank?%>
                <%= link_to image_tag(result.wtb_images.all.first.image_url(:list_size).to_s), wtb_path(result), :class => "th" %>
              <% end %>
            <% else %>
              <% if !result.wts_images.blank?%>
                <%= link_to image_tag(result.wts_images.all.first.image_url(:list_size).to_s), wts_path(result), :class => "th" %>
              <% end %>
            <% end %>
          </th>
          <td>
            <%= link_to result.class.to_s == "Wtb" ? wtb_path(result) : wts_path(result) do%> 
              <strong class="result-<%= result.class.to_s.downcase %>">[<%= result.class.to_s.upcase %>]</strong> <%=result.item%>
            <% end %>
          </td>
          <td>
            <div class="result-budget">
              <%= result.budget %>
            </div>
          </td>
        </tr>
        <tr>
        <td class = 'subheader'><%= result.additional_info.truncate(20) if !result.additional_info.nil? %></td>
        <td><%= link_to "Contact Seller", user_path(result.user), class: "button small"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
