<div class="contain-to-grid sticky">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to "Wantobs", root_path%></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="active"><%= link_to "Browse WTB", wtbs_path %></li>
        <li class="divider"></li>
        <li class="active"><%= link_to "Browse WTS", wts_index_path %></li>
        <li class="divider"></li>
        <li class="active"><%= link_to "My Account", user_path(current_user) if !current_user.nil?%></li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <!-- Search form-->
        <li class="has-form">
          <%= form_tag search_path, :method => 'get', :class =>"custom" do %>
            <div class="row collapse">
            
              <!--<div class="small-3 columns ">
                <%#= select_tag :search_for, options_for_select(["WTS", "WTB"])%>   
                <%= label_tag "search_for_WTS", "WTS" do %>
                  <%= radio_button_tag(:search_for, "WTS") %>WTS
                <% end %>
                <%= label_tag "search_for_WTB", "WTB" do %>
                  <%= radio_button_tag(:search_for, "WTB") %>WTB
                <% end %>
              </div>-->
              
              <div class="small-8 columns">
                <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
              </div>
              <div class="small-4 columns">
                <%= submit_tag "Search", :name => nil, :class => "button" %>
              </div>
            </div>
          <% end %>
        </li>
        <li class="divider show-for-small"></li>
        <!-- Login and logout button-->
        <li class="has-form">
          <%if !user_signed_in?%>
            <%= link_to "Sign in", user_session_path, :class => "button"%> 
          <% else %>
            <%= link_to "Logout", destroy_user_session_path, :method => 'delete', :class => "button alert"%>
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
</div>
