<% content_for :facebook_meta_tag do%>
  <meta property="og:image"            content="<%= asset_path("logo.png") %>">
<% end %>
<div class="row">
  <div class="large-12 columns" style="text-align: center;">
    <%= image_tag('logo.png')%>
  </div>
  <div class="large-12 columns">
    <%= form_tag search_path, :method => 'get', :class =>"custom" do %>
      <div class="row collapse">
        <div class="small-8 columns">
          <%= text_field_tag :adv_search, params[:adv_search], placeholder: "Search for an item..." %>
        </div>
        <div class="small-2 columns ">
          <%= select_tag :search_for, options_for_select(["WTS", "WTB"])%>   
        </div>
        <div class="small-2 columns">
          <%= submit_tag "Search", :name => nil, :class => "button postfix" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">

  <div class="large-6 columns">
    <h3>Three Newest <strong class='result-wts'>WTS</strong></h3>
    <table>
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th width="300">Item</th>
        </tr>
      </thead>
      <tbody>
        <% Wts.order('created_at DESC').limit(3).all.each do |result|%>
          <tr>
            <th rowspan="2">
              <% if !result.wts_images.blank?%>
                <%= link_to image_tag(result.wts_images.all.first.image_url(:list_size).to_s), wts_path(result), :class => "th" %>
              <% else %>
                <%= link_to image_tag("not_available.jpg", size: "60x60"), wtb_path(result), :class => "th" %>
              <% end %>
            </th>
            <td>
              <%= link_to wts_path(result) do%> 
                <strong class="result-wts">[WTS]</strong> <span class="result-link"><%=result.item%></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class = 'subheader'><%= result.additional_info.truncate(20) if !result.additional_info.nil? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-6 columns">
    <h3>Three Newest <strong class='result-wtb'>WTB</strong></h3>
    <table>
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th width="300">Item</th>
        </tr>
      </thead>
      <tbody>
        <% Wtb.order('created_at DESC').limit(3).all.each do |result|%>
          <tr>
            <th rowspan="2">
              <% if !result.wtb_images.blank?%>
                <%= link_to image_tag(result.wtb_images.all.first.image_url(:list_size).to_s), wtb_path(result), :class => "th" %>
              <% else %>
                <%= link_to image_tag("not_available.jpg", size: "60x60"), wtb_path(result), :class => "th" %>
              <% end %>
            </th>
            <td>
              <%= link_to wts_path(result) do%> 
                <strong class="result-wtb">[WTB]</strong> <span class="result-link"><%=result.item%></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class = 'subheader'><%= result.additional_info.truncate(20) if !result.additional_info.nil? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
