          <%= form_tag search_path, :method => 'get', :class =>"acustom" do %>
            <div class="row collapse">
              <div class="small-4 columns">
                <%#= select_tag :search_for, options_for_select(["WTS", "WTB"])%>
                <%= radio_button_tag(:search_for, "WTS") do %>
                  WTS <%= label_tag(:search_for, "WTS") %>
                <% end %>
                
                <%= radio_button_tag(:search_for, "WTB") %>
                <%= label_tag(:search_for, "WTB") %>
              </div>
              <div class="small-4 columns">
                <%= text_field_tag :search, params[:search] %>
              </div>
              <div class="small-4 columns">
                <%= submit_tag "Search", :name => nil, :class => "button" %>
              </div>
            </div>
          <% end %>
          

