<%= form_for @wts, :html => {:multipart => true, html:{class: 'custom'}}, url: wizard_path do |f| %>
  <fieldset>
    <div class="row">
      <div class="large-6 columns">
        <h3>Images for <%=@wts.item%></h3>
      </div>
    </div>
    
    <div class="row">
      <div class="large-6 columns">
        <div class="row ">
          <div class="large-9 small-9 columns">
            <% if @wts.errors.any? %>
                <h2><%= pluralize(@wts.errors.count, "error") %> prohibited this product from being saved:</h2>
                <ul>
                  <% @wts.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <%=f.fields_for :wts_images do |builder|%>
      <%= render 'wts_image_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Image", f, :wts_images %>
    
    <div class="row ">
      <div class="large-4 small-4 large-offset-4 columns">
        <%= f.submit "Finish", class: "button small"%> or <%= link_to "skip this step", root_path %>
      </div>
    </div>
  </fieldset> 
<% end %>

