<%= form_for(@wts) do |f| %>
  <% if @wts.errors.any? %>
      <h2><%= pluralize(@wts.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @wts.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>

  <%= f.label :item %>:
  <%= f.text_field :item %><br />

  <%= f.label :price %>:
  <%= f.text_field :price %><br />

  <%= f.label :quantity, "Quantity Available"%>:
  <%= f.text_field :quantity %><br />
  
  <%= f.label :information, "Additional Info"%>:
  <%= f.text_area :information %><br />
  
  <%= f.label :links %>:
  <%= f.text_field :links %><br />
  
  <%= f.label :used %>:
  <%= f.check_box :used, {}, "yes", "no"  %><br />
      

  <%= f.label :warranty, "Seller's warranty" %>:
  <%= f.check_box :warranty, {}, "yes", "no"  %><br />
  
  <%= f.label :contactmethod, "Contact Method" %>:
  <%= f.select :contactmethod, [['Personal Message', 'Personal Message'], ['Email', "Email"]] %><br />
  
  <%= f.label :paymentmethod, "Payment Method" %>:
  <%= f.select :paymentmethod, [['Cash on delivery', 'Cash on delivery'], ['Bank-in', "Bank-in"]] %><br />
  
  <%= f.label :pickup, "Prefered Collection Method" %>:
  <%= f.select :pickup, [['Pick up', 'Pick up'], ['Delivery','delivery']]%><br />
  
  <%= f.submit "Create WTS" %>
  
<%end%>
