<p><strong class="result-wts">WTS </strong>list</p>
<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th width="300">Item</th>
    </tr>
  </thead>
  <tbody>
    <% @wts.each do |result|%>
      <tr>
        <th rowspan="2">
          <% if !result.wts_images.blank?%>
            <%= link_to image_tag(result.wts_images.all.first.image_url(:list_size).to_s), wts_path(result), :class => "th" %>
          <% else %>
            <%= link_to image_tag("not_available.jpg", size: '60x60'), wts_path(result), :class => "th" %>
          <% end %>
        </th>
        <td>
          <%= link_to wts_path(result) do%> 
            <strong class="result-wts">[WTS]</strong> <%=result.item%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class = 'subheader'><%= result.additional_info.truncate(20) if !result.additional_info.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
