<% content_for :facebook_meta_tag do%>
  <meta property="og:image"            content="<%= @wts.wts_images.first.image_url.to_s %>">
<% end if !@wts.wts_images.empty?%>

<div class="row">
  <div class="large-8 columns">
    <h3 class='title'>[Want To Sell]</h3>
    <h2 class='title'><%= @wts.item %></h2>
    <table class="large-12 columns borderless_table">
      <col width="180px" />
      <tr><th>Budget</th><td><%= @wts.budget %></td></tr>
      <tr><th>Quantity Available</th><td><%= @wts.quantity %></td></tr>
      
      <tr>
        <th>Links</th>
        <td>
          <%if !@wts.links.blank?%>
            <% @wts.links.split(" ").each do |link| %>
              <%= link_to link, url_with_protocol(link), :target => "_blank" %></br>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr><th>Payment Method</th><td><%= @wts.payment_method %></td></tr>
      <tr><th>Delivery Method</th><td><%= @wts.contact_method %></td></tr>
    </table>
    <p><%= @wts.additional_info %></p>
  </div>
  <div class="large-4 columns">
    <% if @wts.user == current_user%>
      <p><%= link_to 'Edit', edit_wts_path(@wts), class: 'button secondary small' %>
      <%= link_to 'Destroy', @wts, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert small' %></p>
    <% else %>
      <p><%= link_to 'Contact Seller', user_path(@wts.user), class: 'button small' %></p>
    <% end %>
    <div class = 'panel'>
      <h5>Item Are</h5>
      <ul class = 'none'>
        <% if @wts.brand_new == "yes" %>
          <li><span class="label">Brand New</span></li>
        <% end %>
        <% if @wts.factory_warranty == "yes" %>
          <li><span class="label">Valid Warranty</span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <h2>Images</h2>
  <div class="large-12 columns">
    <ul class="clearing-thumbs inline-list" data-clearing>
      <% if !@wts.wts_images.blank? %>
        <% @wts.wts_images.each do |img|%>
          <li><%= link_to image_tag(img.image_url(:thumb).to_s, :class => 'th'), image_path(img.image_url.to_s) %></li>
        <% end %>
      <% else %>
        <li><%= image_tag("not_available.jpg", size: '200x200', class: 'th')%></li>
      <% end %>
    </ul>
  </div>
</div>

<h6>Comments</h6>
<dl>
  <% @comments.each do |comment| %>
    <div class="row">
      <div class="large-2 columns">
        <%= link_to image_tag(comment.user.image_url(:comment_profile).to_s, :class => "th"), user_path(comment.commentable) %>
      </div>
      <div class="large-10 columns">
        <div class="panel">
          <dt class='poster-info'>
            <%= link_to comment.user.username, user_path(comment.commentable) %> on 
            <%= comment.created_at.to_formatted_s(:long) %> at 
            <%= comment.created_at.strftime("%H:%M")%> said:
            <%= '<span class="label">WTS Poster</span>'.html_safe if comment.user == @wts.user %>
          </dt>
          <dd><%= comment.content %></dd>
        </div>
      </div>
    </div>
  <% end %>
</dl>

<div class="row">
  <div class="large-6 columns">
    <%= form_for [@commentable, @comment] do |f| %>
      <%= f.text_area :content, rows: 8 %>
      <div align='right'>
        <%= f.submit "Post", :class => "small button success radius" %>
      </div>
    <% end if user_signed_in? %>
  </div>
</div>
