<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Wantobs" %></title>
  <%= yield(:facebook_meta_tag) if content_for?(:facebook_meta_tag)%>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="contain-to-grid sticky">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><%= link_to "Wantobs", root_path%></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li class="active"><a href="#">Main Item 1</a></li>
          <li class="divider"></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <li class="divider"></li>
          <!-- Search form-->
          <li class="has-form">
            <%= form_tag search_path, :method => 'get', :class =>"custom" do %>
              <div class="row collapse">
                <div class="small-6 columns">
                  <%= text_field_tag :search, params[:search] %>
                </div>
                <div class="small-2 columns">
                  <%= select_tag :search_for, "<option>WTS</option><option>WTB</option>".html_safe, :id => 'customDropdown', :class => 'small'%>
                </div>
                <div class="small-4 columns">
                  <%= submit_tag "Search", :name => nil, :class => "button" %>
                </div>
              </div>
            <% end %>
          </li>
          <li class="divider show-for-small"></li>
          <!-- Login and logout button-->
          <li class="has-form">
            <%if !user_signed_in?%>
              <%= link_to "Sign in", user_session_path, :class => "button"%> 
            <% else %>
              <%= link_to "Logout", destroy_user_session_path, :method => 'delete', :class => "button alert"%>
            <% end %>
          </li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= render 'layouts/flash_message' %>
      <%= yield %>
      
      <%= javascript_include_tag "application" %>
    </div>
  </div>
</body>
</html>


